<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="page-heading">
                    <h1>Professor</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
          <div class="col-sm-12">
            <h2>Sy-Yen Kuo</h2>
            <h3>
                Distinguished Professor
            </h3>
            <h3>
                Department of Electrical Engineering, National Taiwan University
            </h3>
          </div>
    </div>
    <hr>
    <div class="row">
          <div class="col-sm-4">
            <img src="http://www.ee.ntu.edu.tw/img/prof/sykuo_l.jpg">
            <h4> B.S. National Taiwan University, 1979</h4>
            <h4> M.S. University of California at Santa Barbara, 1982</h4>
            <h4> Ph.D. University of Illinois at Urbana-Champaign , 1987</h4>
          </div>
          <div class="col-sm-8">
            <h2>Research Summary:</h2>
            <p>
                Professor Sy-Yen Kuo is heading the Dependable Distributed System and Networks Laboratory in the Department of Electrical Engineering at NTU, which focuses on the research of dependable netowrks and systems, SoC design verification, and quantum computing and communication. Nowadays, more and more complicated development of hardware/software systems and wired/wireless networks has made fault tolerance a very important issue in designing information systems to provide services with high dependability and high availability. Among his current research interests are mobile computing and networks, dependable distributed systems, and quantum computing.

                Prof. Kuo has involved in many important research projects, such as All-IPv6 Networks/Applications/ Testbed Development, R&D of Key Technologies and Middleware for Mobile E-Commerce Systems, Mobile Agent-Based Platform for Collaborative Computing, Support Mobile IP in NAT Environment, all sponsored by National Science Council; Integration of Link Level Mobility and Mobile IP(v6) in Mobile Communication Systems, sponsored by Institute for Information Industry. In addition, Prof. Kuo is also in charge of the Communication Software Training Class of Ministry of Economic Affairs, and the planning of the cooperative projects between National Taiwan University and Quanta Computer Inc.
            </p>
          </div>
    </div>
</div>
<div class="container">
  <h2>Publication List </h2>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Click Me</button>
  <div id="demo" class="collapse">
    Journal articles & book chapters
  </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
            </div>
        </div>
    </div>
</footer>